.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.title {
  font-family: "Rubik Mono One", sans-serif;
  padding: 70px;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav {
  margin: 50px 50px;
}

.nav ul {
  display: flex;
  padding: 70px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  padding: 1rem;
  color: black;
  font-family: "Roboto", sans-serif;
}

.nav-items {
  margin: 10px 10px;
  padding: 100px;
  width: 100%;
}

.nav a:hover {
  color: #737373;
}

.nav-btn {
  border: 1px solid #393939;
  background-color: transparent;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.nav-btn:hover {
  background-color: #f1dca6;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border: 0.2px solid grey;
  border-radius: 20px;
}
